.about-container {
  min-height: 88vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-heading {
  font-size: 40px;
  text-align: center;
}
.about-content {
  font-size: 25px;
  max-width: 980px;
  margin: 0px;
  text-align: center;
  font-family: "Alkatra", cursive;
}
.about-container .courses{
    color: orangered;
}
.about-container p span{
    color: rgb(21, 25, 238)
}