.top-container {
  display: flex;
  min-height: 100vh;
  /* align-items: center; */
}
.home-container {
  position: absolute;
  /* top: 150px; */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 0 auto;
  
}
.home-div {
  max-width: 350px;
}

.btn:hover {
  background-color: white !important;
  color: black;
}
.span-1 {
  color: #003067;
  font-size: 3rem;
  font-weight: bold;
  margin: 20px 20px;
}
.span-2 {
  color: orangered;
  font-size: 3.5rem;
  font-weight: bold;
  margin: 20px 20px;
}
.span-3 {
  color: #003067;
  font-size: 4rem;
  font-weight: bold;
  margin: 20px 20px;
}
.icon-button {
  margin-top: 50px;
}
.image {
  width: 500px;
  object-fit: contain;
}

@media (max-width: 1024px) {
  .span-1 {
    color: #003067;
    font-size: 2.5rem;
    font-weight: bold;
  }
  .span-2 {
    color: orangered;
    font-size: 3rem;
    font-weight: bold;
  }
  .span-3 {
    color: #003067;
    font-size: 3.5rem;
    font-weight: bold;
  }
  .image {
    width: 400px;
    object-fit: contain;
  }
}
.home-container {
  position: absolute;
  top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .span-1 {
    font-size: 2rem;
    font-weight: bold;
    /* margin: 0; */
  }
  .span-2 {
    font-size: 2.5rem;
    font-weight: bold;
  }
  .span-3 {
    font-size: 2rem;
    font-weight: bold;
  }

  .icon-button {
    margin-top: 10px;
  }
  .image {
    width: 300px;
    margin-top: 50px;
  }
  .home-container {
    position: absolute;
    top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin: 0 auto;
  }
}
