.skill-con {
  display: flex;
  padding: 5px;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.skill-image {
  width: 64px;
  height: 64px;
  object-fit: contain;
}
.skill-card-container {
  display: flex;
  justify-content: center;
  max-width: 1000px;
  height: fit-content;
  margin-top: 50px;
  flex-wrap: wrap;
  gap: 10px;
}
#skill-cards {
  display: flex;
  flex-direction: column;
  /* transition: all 0.3s ease-out; */
  transition: all 0.3s;
  padding: 20px;
  width: 150px;
  align-items: center;
  justify-content: center;
}
#skill-cards p {
  font-weight: bold;
  font-size: 20px;
}
#skill-cards:hover {
  transform: translateY(-6px);
}
.skill-heading {
  font-size: 40px;
  margin: 0px;
}
@media screen and (max-width: 768px) {
  .skill-card-container {
    display: flex;
    justify-content: center;
    width: 390px;
    margin-top: 50px;
    margin-bottom: 80px;
    gap: 10px;
  }
  #skill-cards {
    display: flex;
    flex-direction: column;

    transition: all 0.3s;
    padding: 20px;
    width: 80px;
    align-items: center;
    justify-content: center;
  }
}
