.top-container {
  background-color: darkgray;
  height: 100vh;
  /* padding-top: 60px; */
  /* background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
}
